/*************** Reset *********************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

/*************** Menu ****************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  z-index: 2;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  z-index: 2;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  border-radius: 10px;
  font-family: "Bebas Neue";
  padding: 1em;
}

.menu a:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transition: 0.5s ease;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.menu {
  display: none;
}
.burger {
  display: block;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2; /* ER ØVERST men lottie dækker :-(*/
  background-color: #000000;
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 24px;
}

/* ------------------------HERO ------------------------------*/

.hero_animation {
  overflow: hidden; /*har puttet overflow: hidden på. - det gør at alt uden om div'en ikke bliver vist.*/
  z-index: 1; /* ER nederst men lottie dækker stadig:-(*/
  width: auto;
  height: auto;
}

.down {
  /*Pil*/
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* ---------------------------------PIL NED ANIMATION ------------------------------*/
.bounce {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(50);
  }
  to {
    transform: translateY(-90px);
  }
}

.arrow_down {
  display: none;
}

/* ------------------------GRIDS------------------------------*/
/*------------------------------1-1----------------------------------------*/

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
  margin-bottom: 20px;
}

.grid_1-1 h1 {
  text-align: center;
}

.grid_1-1 div {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.maja_1_text {
  padding: 0px 10px 0px 10px;
}

.maja_img_1 {
  width: 500;
  height: 509;
  padding: 20px;
  border-radius: 5%;
  display: block;
  max-width: 100%;
  height: auto;
}

/*------------------------------1-1-1-1----------------------------------------*/

.projects {
  text-align: center;
  border: 2px solid var(--secondary);
  border-radius: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.grid_1-1-1-1 {
  display: flex;
  padding-top: 50px;
  overflow-x: auto;
  gap: 15px;
}

.scroll_for_more p {
  /*Justerer størrelsen på teksten med pilen*/
  font-size: 1em;
}

.projects .cta {
  display: grid;
  justify-content: center;
  padding: 30px;
}

/*-----------------------------------------PIlen ved "scroll til siden for mere -----------------*/
.arrow {
  border: solid var(--secondary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*----------------------------------------------------------------------*/

.grid_1-1-1-1 h2 {
  padding-top: 20px;
}

.grid_1-1-1-1 img {
  width: 100px;
  height: 100px;
  place-self: center;
}

.grid_1-1-1-1 div {
  min-width: 300px;
  text-align: center;
  display: grid;
  justify-content: center;
}

.programs {
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 10em;
}

.programs h1 {
  padding: 30px;
}

.grid_1-1_programs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.col {
  justify-content: center;
  display: grid;
  gap: 40px;
}

.col div {
  display: grid;
  justify-content: center;
  gap: 20px;
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*-------------------------------OM MIG---------------------------------------*/

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
  padding-right: 15px;
}

.cv {
  margin-top: 7em;
  margin-bottom: 7em;
}

.right_sided_text {
  text-align: end;
}

.grid_1-1_cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em 1em 3em 1em;
}

.grid_1-1_cv div {
  border-bottom: 1px solid var(--secondary);
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*-------------------------------*MINE PROJEKTER---------------------------------------*/

.grid_1 {
  padding: 0px 20px 0px 20px;
}

.mouse_img {
  height: 50%;
  max-width: 50%;
}

.mouse_div {
  /* PLACERET I FLEX FOR AT FÅ BILLEDET I MIDTEN*/
  display: flex;
  justify-content: center;
}

.projects_text .cta {
  margin-top: 50px;
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
}

.grid_1-1_projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 60px 10px 20px 10px;
}

.learningsprocesses {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 10px 10px 10px 20px;
  padding: 20px;
}

.learningsprocesses h2 {
  margin-bottom: 10px;
}

.learning_list {
  border: 2px solid var(--secondary);
  border-radius: 10px;
  padding: 50px 20px 50px 50px;
  margin: auto; /*Centeret*/
}

.grid_1-1_projects img {
  object-fit: cover;
  align-self: stretch;
}

.double_pic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.video_grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.video_grid_1-1 video,
.video_grid_1-1 iframe {
  width: 100%; /* Sørg for at fylde hele containeren */
  height: 300px;
  object-fit: cover; /* Gør at videoen dækker containeren uden at ændre aspect ratio */
}

.video_grid_1-1 iframe {
  border: none;
}

@media (min-width: 800px) {
  .hero_animation {
    max-width: 1400px;
    margin: auto;
  }

  .arrow_down {
    display: grid;
    justify-content: center;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .maja_1_text {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  .grid_1-1_programs {
    max-width: 500px;
    margin: auto;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 20px;
  }

  .grid_1-1-1-1 img {
    width: 300px;
    height: 300px;
    place-self: center;
  }

  .span2 {
    grid-column: 1 / span 2;
  }

  .scroll_for_more {
    display: none;
  }
  /*----------------------------------------------------------------------*/
  /*----------------------------------------------------------------------*/
  /*-------------------------------projects---------------------------------------*/

  .grid_1-1_projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
  }

  .learningsprocesses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin: 10px 10px 10px 20px;
    padding: 20px;
  }

  .learning_list {
    margin: auto;
  }
  /*----------------------------------------------------------------------*/
  /*----------------------------------------------------------------------*/
  /*-------------------------------projects - PASSION---------------------------------------*/
  .video_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 0px 30px 0px;
  }

  .video_grid_1-1 video,
  .video_grid_1-1 iframe {
    width: 100%; /* Sørg for at fylde hele containeren */
    height: 300px;
    object-fit: cover; /* Gør at videoen dækker containeren uden at ændre aspect ratio */
  }

  .video_grid_1-1 iframe {
    border: none;
  }

  .hero_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero_1 img {
    width: 100%;
    height: 100%;
  }
}
