/*************** Reset *********************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

/*************** Menu ****************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  border-radius: 100px;
  font-family: "Bebas Neue";
  padding: 1em;
}

.menu a:hover {
  background-color: #4a3e33;
  transition: 0.5s ease;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.menu {
  display: none;
}
.burger {
  display: block;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2; /* ER ØVERST men lottie dækker :-(*/
  background-color: #000000;
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 24px;
}

/* ------------------------HERO ------------------------------*/

.hero_animation {
  overflow: hidden; /*har puttet overflow: hidden på. - det gør at alt uden om div'en ikke bliver vist.*/
  z-index: 1; /* ER nederst men lottie dækker stadig:-(*/
}

/* ------------------------GRIDS------------------------------*/

main {
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.grid_1-1 div {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.grid_1-1-1-1 {
  text-align: center;
  gap: 30px;
  padding: 10px;
  display: flex; /*Flexbox for bokse ved siden af hinanden*/
  overflow-x: auto; /* Tilføjer vandret scroll, hvis der ikke er plads til at være ved siden af hinanden */
}

.scroll_for_more p {
  /*Justerer størrelsen på teksten med pilen*/
  font-size: 1em;
}

/*-----------------------------------------PIlen ved "scroll til siden for mere -----------------*/
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*----------------------------------------------------------------------*/

.grid_1-1-1-1 h2 {
  padding-top: 20px;
}

.projects {
  text-align: center;
}

.mouse_img {
  width: 60%;
}
.projects .cta {
  display: grid;
  justify-content: center;
  padding: 30px;
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 20px;
  }

  .span2_div {
    grid-column: 1 / span 2;
  }

  .scroll_for_more {
    display: none;
  }
}
